@using EMJI.Models
@using EMJI.Models.Sortable
<div class="table-status">
    <h3>@ListStatus (@Tables.Count())</h3>
    <ul 
        class="dropzone @dropClass"
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        ondrop="HandleDrop"
        ondragenter="HandleDragEnter"
        ondragleave="HandleDragLeave">
        @foreach (var table in Tables)
        {
            <TableDraggable Table="table" />
        }
    </ul>
</div>
@code {
    [CascadingParameter] TablesContainer Container {
        get;
        set;
    }
    [Parameter]
    public TableStatus ListStatus
    {
        get;
        set;
    }
    [Parameter] public TableStatus[] AllowedStatuses {
        get;
        set;
    }
    List<SortableTable> Tables = new List<SortableTable>();
    string dropClass = "";
    protected override void OnParametersSet() {
        Tables.Clear();
        Tables.AddRange(Container.Tables.Where(x => x.table.Status == ListStatus));
    }
    private void HandleDragEnter() {
        if (ListStatus == Container.Payload.table.Status) return;
        if (AllowedStatuses != null && !AllowedStatuses.Contains(Container.Payload.table.Status))
        {
            dropClass = "no-drop";
        } else {
            dropClass = "can-drop";
        }
    }
    private void HandleDragLeave() {
        dropClass = "";
    }
    private async Task HandleDrop() {
        dropClass = "";
        if (AllowedStatuses != null && !AllowedStatuses.Contains(Container.Payload.table.Status)) return;
        await Container.UpdateTableAsync(ListStatus);
    }
}