@using EMJI.Models
@using EMJI.Models.Sortable
<div class="tables-container">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
@code {
    [Parameter]
    public List<SortableTable> Tables
    {
        get;
        set;
    }
    [Parameter]
    public RenderFragment ChildContent
    {
        get;
        set;
    }
    [Parameter]
    public EventCallback<Table> OnStatusUpdated
    {
        get;
        set;
    }
    public SortableTable Payload
    {
        get;
        set;
    }
    public async Task UpdateTableAsync(TableStatus newStatus)
    {
        var task = Tables.SingleOrDefault(x => x.table.Id == Payload.table.Id);
        if (task != null)
        {
            task.table.Status = newStatus;
            task.table.LastUpdated = DateTime.Now;
            await OnStatusUpdated.InvokeAsync(Payload.table);
        }
    }
}