@using EMJI.Models.Sortable
<li class="draggable" draggable="true" title="@Table.table.Name" @ondragstart="@(() => HandleDragStart(Table))">
    <p class="description">@Table.table.Name</p>
    <p class="last-updated"><small>Last Updated</small> @Table.table.LastUpdated.ToString("HH:mm.ss tt")</p>
    <img src="emjilogo.png" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
</li>
@code {
    [CascadingParameter]
    TablesContainer Container
    {
        get;
        set;
    }
    [Parameter]
    public SortableTable Table
    {
        get;
        set;
    }
    private void HandleDragStart(SortableTable selectedTable)
    {
        Container.Payload = selectedTable;
    }
}