<h3>ReservationForm</h3>
@page "/reservation-form"
@using EMJI.Models

@code {
    [SupplyParameterFromForm]
    public Reservation? Reservation { get; set; }

   // protected override void OnInitialized() => Reservatiom ??= new();

    private void Submit(){
    }
}